#ironman{
    background-image: url("../images/ironman.jpg");
    background-size: 100%;
    height: 100vh;
}
#loki{
    background-image: url("../images/61ee8ddfc68c2.jpg");
    background-size: 100%;
    height: 100vh;
}

#scarlet{
    background-image: url("../images/scarlet.jpg");
    background-size: 100%;
    height: 100vh;
}

#captain{
    background-image: url("../images/captain-america.jpg");
    background-size: 100%;
    height: 100vh;
}

#thor{
    background-image: url("../images/thor.jpg");
    background-size: 100%;
    height: 100vh;
}

#blackwidow{
    background-image: url("../images/blackwidow.jpg");
    background-size: 100%;
    height: 100vh;
}

#thanos{
    background-image: url("../images/thanos.jpg");
    background-size: 100%;
    height: 100vh;
}

#strange{
    background-image: url("../images/strange.jpg");
    background-size: 100%;
    height: 100vh;
}